.THIS {
     background-color: rgb(0 0 0 / 16%);
   
}
.THIS .slds-form-element__label{
    font-size: 1.0rem !important;
    font-style: bold !important;
   
}

.THIS .style1{
    
    font-size: 20px;font-family: monospace;
}